{% extends 'base/base.html' %}

{% load static %}



{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile/profile.css' %}"/>

    <div class="row" id="profile">
        <div class="col-sm-6" id="userData">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Información de usuario</h5>

                    <div id="profileImg" class="circle-img img-circle rounded-circle">
                        <img id='urlImg' src="{% static '/images/user.png' %}">
                    </div>

                    <div id="profileInfo">
                        <form id="formProfileInfo" method="post" action="">{% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="profileUrlImg" class="form-label">URL de su imagen</label>
                                <input required type="text" class="form-control" id="profileUrlImg" placeholder="https://i.ytimg.com/vi/DwlzqcGhITA/maxresdefault.jpg">
                                <div id="profileUrlImg" class="form-text"> Se recomienda una imagen de al menos 400x400
                                    pixels.
                                </div>
                            </div>
                            <div class=" form-group mb-3">
                                <label for="profileName" class="form-label">Nombre de usuario</label>
                                <input required type="text" class="form-control" id="profileName"
                                       value="{{ user.username }}">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class=" form-group mb-3">
                                <label for="profileEmail" class="form-label">Dirección de correo</label>
                                <input type="email" class="form-control" id="profileEmail"
                                       aria-describedby="emailHelp" disabled value="{{ user.email }}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="profilePass" class="form-label">Nuevo password</label>
                                <input type="password" class="form-control" id="profilePass" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
                            </div>
                            <div class="form-group">
                                <label for="profileDescription">Biografía</label>
                                <textarea class="form-control" id="profileDescription" rows="3" placeholder="Escribe aquí tu biografía"></textarea>
                            </div>
                        </form>

                    </div>
                    <button type="submit" class="btn btn-primary" onclick=updateProfile()>Actualizar Perfil</button>

                </div>
            </div>
        </div>
        <div class="col-sm-6" id="userSubjects">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Asignaturas</h5>
                    <ul class="list-group" id="activeSubjects"></ul>
                    <label for="profileSubjectSelect">Asignaturas disponibles:</label>

                    <div class="input-group mb-3">
                        <select class="form-select" id="profileSubjectSelect">
                            <option value="0" selected disabled>Elige tus asignaturas matriculadas...</option>
                        </select>
                        <button id="btnSubject" class="btn btn-outline-secondary bi bi-plus-square" type="button"
                                onclick=activeSubject() disabled>+
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


        function updateProfile() {
            let profileImgUrl = $('#profileUrlImg')
            let profileUser = $('#profileName')
            let profilePass = $('#profilePass')
            let profileDescription = $('#profileDescription')

            if (profileImgUrl.val()) {
                $('#urlImg').attr('src', profileImgUrl.val())
            }
            if (!profileUser.val()) {
                profileUser.val(userProfile)
            } else {
                userProfile = $('#profileName').val()
            }

            description = profileDescription.val()
            profileDescription.val(description)

            if (!profilePass.val()) {
                profilePass = profilePass.val()
            }

            console.log('perfil actualizado')
        }

        function activeSubject() {
            let subject = $('#profileSubjectSelect option:selected')
            let subjectSelector = $('#profileSubjectSelect')
            let subjectName = subject.text()
            let activeSubjectSelector = $('#activeSubjects')
            activeSubjectSelector.append('<li class="list-group-item">' + subjectName + '</li>')
            $("#profileSubjectSelect option[value=" + subjectName + "]").remove();

            if (subjectSelector.children('option').length === 1) {
                console.log('hola')
                subjectSelector.attr('disabled', true)
                $('#btnSubject').attr('disabled', true)
                subjectSelector.append('<option selected disabled id="0">No tiene asignaturas disponibles</option>')
            }

        }

        function addSubjects(subject, index) {
            let subjectSelect = $('#profileSubjectSelect')
            subjectSelect.append('<option id="' + index + '" value="' + subject + '">' + subject + '</option>')

        }

        function handleSubjects() {
            let subjects = ['EDNL', 'SD', 'PINF', 'DA']
            subjects.forEach(addSubjects)
        }

        $(document).ready(function () {
                let email = 'jeff@alum.uca.es'
                {#let userName = 'Jeff'#}
                let description = ''
                let urlImg = 'https://images.pexels.com/photos/1370750/pexels-photo-1370750.jpeg'
                let profilePass = '13435353'
                {#$('#profileUrlImg').val(urlImg)#}
                {#$('#profileEmail').val(email)#}
                {#$('#profileName').val(userName)#}
                {#$('#profileDescription').val(description)#}
                {#$('#profilePass').val(profilePass)#}
                handleSubjects()

                $('#profileSubjectSelect').on('change', function () {
                    $('#btnSubject').attr('disabled', false)
                })

            }
        )


    </script>

{% endblock %}