{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bet_card/bet_card.css' %}"/>


<div class="bg-white border mt-2">
    <div>
        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
            <div class="d-flex flex-row align-items-center feed-text px-2">
                <div class="circle-img img-circle rounded-circle">
                    <img src="https://images.pexels.com/photos/1370750/pexels-photo-1370750.jpeg">
                </div>

                <div class="d-flex flex-column flex-wrap ml-2"><span
                        class="font-weight-bold">@Username</span>
                    <span>Apostó: Apruebo PCTR con un 10.</span>
                    <span class="text-black-50 time">35 minutes ago</span>
                </div>
            </div>
            <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
        </div>
    </div>
    <div class="p-2 px-3"><span>Hahahahan no me lo creo ni yo chavales.</span></div>
    <div class="d-flex justify-content-end socials p-2 py-3">
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-comments-o"></i>
        <i class="fa fa-share"></i>
    </div>
</div>
{#foto #}
<div class="bg-white border mt-2">
    <div>
        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
            <div class="d-flex flex-row align-items-center feed-text px-2">
                <div class="circle-img img-circle rounded-circle">
                    <img src="https://images.pexels.com/photos/3763152/pexels-photo-3763152.jpeg">
                </div>

                <div class="d-flex flex-column flex-wrap ml-2">
                    <span class="font-weight-bold">@Username</span>
                    <span>Actualizó su foto de perfil.</span>

                    <span class="text-black-50 time">40 minutes ago</span>
                </div>
            </div>
            <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
        </div>
    </div>
    <div class="feed-image p-2 px-3">
        <img class="img-fluid img-responsive"
             src="https://images.pexels.com/photos/3763152/pexels-photo-3763152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>
    <div class="d-flex justify-content-end socials p-2 py-3">
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-comments-o"></i>
        <i class="fa fa-share"></i>
    </div>
</div>
<div class="bg-white border mt-2">
    <div>
        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
            <div class="d-flex flex-row align-items-center feed-text px-2">
                <div class="circle-img img-circle rounded-circle">
                    <img src="https://images.pexels.com/photos/1998456/pexels-photo-1998456.jpeg">
                </div>

                <div class="d-flex flex-column flex-wrap ml-2"><span
                        class="font-weight-bold">@Username</span>
                    <span>Apostó: Suspendo MD con un 3.</span>
                    <span class="text-black-50 time">45 minutes ago</span>
                </div>
            </div>
            <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
        </div>
    </div>
    <div class="p-2 px-3"><span>Hay que ser realistas xD.</span></div>
    <div class="d-flex justify-content-end socials p-2 py-3">
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-comments-o"></i>
        <i class="fa fa-share"></i>
    </div>
</div>

