<div id="quickBet" class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
    <div class="feed-text px-2">
        <h6 class="mt-2">Realizar apuesta</h6>
    </div>
    <div class="feed-icon px-2">
        <i class="fa fa-plus" data-toggle="collapse" href="#collapseQuickBet" role="button"
             aria-expanded="false" aria-controls="collapseQuickBet"></i>
    </div>
</div>
<div class=" collapse
        " id="collapseQuickBet">
    <div class="card card-body">
        <form id="betForm">
            <div class="form-group">
                <label for="betControlSelect">Apuesta</label>
                <select required class="form-control" id="betControlSelect">
                    <option>Aprueba</option>
                    <option>Suspende</option>
                </select>
            </div>
            <div class="form-group">
                <label for="subjectControlSelect">Asignatura</label>
                <select required class="form-control" id="subjectControlSelect">
                    <option>EDNL</option>
                    <option>PINF</option>
                    <option>AAED</option>
                    <option>DA</option>
                    <option>MD</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gradeControlSelect">Nota</label>
                <select required multiple class="form-control" id="gradeControlSelect">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
            <div class="form-group">
                <label for="messageFormControlTextArea">Mensaje</label>
                <textarea required class="form-control" id="messageFormControlTextArea" rows="3"></textarea>
            </div>
            <button id="submitBetButton" class="btn btn-primary" onclick=sendPost()>Submit</button>
        </form>

    </div>
</div>

