body {
    background-color: #eee
}

.time {
    font-size: 9px !important
}

.socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #d2c8c8;
    cursor: pointer
}

.feed-image img {
    width: 100%;
    height: auto
}

.circle-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}

#comment {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}