<!DOCTYPE html>
<html lang="es">
{%load static%}
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{%static 'css/registry/SignUp.css' %}">
    <script defer src="{%static 'js/SignUp.js' %}"></script>


</head>
<body>
    <div class="contenedor">
        <h1>Pinfbet</h1>
        <p class="registro">Regístrate y empieza a apostar</p>
        <form action="" method="post" name="register" id="register">
            {% csrf_token %}
            {{ form }}

            <div id="condiciones" class="condiciones">
                <p>Al registraste confirmas que entiendes y aceptas nuestras <a class="link" href="Terms" target="_blank">Condiciones de uso y Política de privacidad.</a></p><br>
            </div>

            <input type="submit" value="Regístrate" class="button" onclick="validate()">

        </form>
    </div>
    <div class="contenedor2">
        <p>¿Ya tienes una cuenta? <a class="link" href="login">Iniciar Sesión</a></p>
    </div>
</body>
</html>