<!DOCTYPE html>
<html lang="es">
{%load static%}
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{%static 'css/registry/Terms.css' %}">

</head>
<body>
    <div class="contenedor">
        <h2>Condiciones de uso</h2>
        <h3>Compromisos que asumes</h3>
        <p>Nosotros te proporcionamos el Servicio a cambio de que asumas los siguientes compromisos.<br><br>
        <b>Quién puede usar PinfBet.</b> Queremos que nuestro Servicio sea lo más inclusivo y abierto posible, pero también que sea seguro y conforme a la ley. Por este motivo, si quieres formar parte de la comunidad de Instagram, es necesario que aceptes algunas restricciones.
            <ol class="a">
                <li>Debes tener al menos 18 años, o la edad mínima legal en tu país.</li>
                <li>Tu cuenta no debe haberse inhabilitado anteriormente a causa de una infracción de la ley o de cualquiera de nuestras políticas.</li>
                <li>No debes tener antecedentes que indiquen que se te ha prohibido utilizar algún aspecto de nuestro Servicio en virtud de la legislación
                    aplicable o usar servicios relacionados con los pagos si apareces en una lista de personas o empresas con las que el comercio esté prohibido
                    o restringido</li>
            </ol>
        <b>Restricciones en cuanto al uso de Pinfbet.</b> Todos debemos poner de nuestra parte para que la comunidad cuente con un Servicio abierto y seguro.
            <ol class="a">
                <li><b>No te hagas pasar por otra persona ni nos proporciones información incorrecta.</b>No es necesario que reveles tu identidad en PinfBet. No obstante, debes facilitarnos información precisa y actualizada (incluida la información de registro). Asimismo, no puedes hacerte pasar por otra persona ni crear una cuenta en nombre de alguien más.</li>
                <li><b>No realices actividades ilegales, engañosas o fraudulentas, ni con fines ilegales o no autorizados.</b></li>
                <li><b>No puedes infringir estas Condiciones ni nuestras políticas (ni ayudar o animar a otras personas a hacerlo).</b>
                    Puedes obtener información sobre cómo denunciar comportamientos o contenido inapropiados en nuestro servicio de ayuda.</li>
                <li><b>No realices ninguna acción que interfiera con el Servicio o impida que funcione como está previsto.</b></li>
                <li><b>No intentes recopilar información o acceder a ella, ni crear cuentas valiéndote de medios no autorizados.</b>
                Esto incluye crear cuentas o recopilar información de un modo automatizado sin nuestro permiso expreso.</li>
                <li><b>No intentes comprar, vender o transferir ninguna parte de tu cuenta (incluido el nombre de usuario) ni solicitar, recopilar o usar credenciales de inicio de sesión o insignias de otros usuarios.</b></li>
                <li><b>No publiques contenido privado o confidencial de ninguna persona, ni lleves a cabo ninguna actividad que infrinja los derechos de otra persona, incluidos sus derechos de propiedad intelectual o industrial.</b>
                Aquí te explicamos cómo denunciar contenido que creas que infringe tus derechos de propiedad intelectual o industrial.</li>
                <li><b>No utilices un nombre de dominio o URL en tu nombre de usuario sin contar con nuestro consentimiento previo por escrito.</b></li>
            </ol>
        <b>Permisos que nos concedes.</b>Como parte de nuestro acuerdo, también nos concedes los permisos necesarios para proporcionarte el Servicio.
            <ol class="a">
                <li><b>No reclamamos la propiedad de tu contenido, pero nos concedes una licencia para usarlo.</b>Tus derechos sobre el contenido no
                    cambiarán. No reclamamos la propiedad del contenido que publicas en el Servicio o a través de este.
                    En lugar de ello, cuando compartes, publicas o subes contenido protegido por derechos de propiedad intelectual
                    en nuestro Servicio, o en relación con este, de conformidad con el presente acuerdo nos concedes una licencia mundial, no exclusiva,
                    transferible, sublicenciable y exenta de pagos por derechos de autor para alojar, distribuir, modificar, mantener, reproducir,
                    mostrar o comunicar públicamente y traducir tu contenido, así como para crear contenido derivado (de conformidad con tu configuración
                    de privacidad y de la aplicación). Puedes eliminar el contenido o tu cuenta en cualquier momento para dar por finalizada esta licencia.
                    No obstante, el contenido seguirá siendo visible si lo has compartido con otras personas y estas no lo han eliminado.
                    Encontrarás más información sobre el uso que hacemos de la información y cómo controlar o eliminar tu contenido en la Política de datos y
                    el servicio de ayuda de Pinfbet.</li>
                <li><b>Aceptas que podemos descargar e instalar actualizaciones del Servicio en tu dispositivo.</b></li>

            </ol>
    </div>
</body>
</html>